* {
    outline: none!important;
}
html {
    --main-theme: #14172a;
    --main-fonts: #ffffff;
    --card-theme: #1b203d;
    --wrap-main: #15182b;
    --faq-bgc:     #1b203d;
    --faq-header:  #171c35;
    --header-shadow: 0 5px 50px #000;
    --footer-bgc: #131833;
    --img       :    invert(1);
    --light: #dfe4ff;
--dark: #5e72e4;
  }
body,
html {
    border: 0;
    font: inherit;
    vertical-align: baseline
}
a,
abbr,
acronym,
address,
applet,
audio,
b,
big,
blockquote,
canvas,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
embed,
h1,
h2,
h3,
h4,
h5,
h6,
i,
iframe,
ins,
kbd,
label,
li,
mark,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

img {
    margin: 0;
    font: inherit
}

form {
    border: 0
}

fieldset,
figure,
footer,
form,
header,
legend {
    font: inherit;
    vertical-align: baseline
}

body,
fieldset,
form,
html,
img,
legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

legend {
    margin: 0
}

article,
aside,
details,
figcaption,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

figure,
footer,
header {
    border: 0
}

figure,
form,
img {
    padding: 0
}

footer,
header {
    margin: 0
}

:focus {
    outline: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    line-height: 1;
}

header .multilingualism li,
header .time li,
ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none
}

input[type=search] {
    -moz-appearance: none
}

.card_info b,
.main_list b,
.partner_left ul b,
.regulations_info b,
b {
    font-weight: 600
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

a:focus {
    outline: thin dotted
}
a{
    color: #5E72E4;
}
a:active,
a:hover {
    outline: 0
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

fieldset,
legend {
    border: 0;
    padding: 0
}

fieldset,
figure,
form {
    margin: 0
}

legend {
    white-space: normal;
    *margin-left: -7px
}

button,
input,
select {
    vertical-align: baseline
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    *vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

button,
html,
input,
select,
textarea {
    color: #222
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

textarea {
    resize: vertical
}

.chromeframe {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px
}

.dark {
    font-family: Roboto
}

.dark .card_info,
.dark .main_text p,
.dark .title_content,
.dark .title_pages,
.dark .title_section {
    color: #fff
}

.section {
    margin-bottom: 8rem
}

.title_pages {
    font-weight: 900;
    line-height: 0.875em;
    font-size: 50px;
    margin-top: .76em;
    margin-bottom: .76em;
    text-transform: uppercase;
    -webkit-transition: .5s color ease-in;
    transition: .5s color ease-in;
    color: var(--main-fonts);
}

.violet {
    color: #5e72e4
}

.main_text>p,
.title_content {
    letter-spacing: .2px;
    color: var(--main-fonts);
    -webkit-transition: .5s color ease-in;
    transition: .5s color ease-in
}

.title_content {
    font-weight: 600;
    font-size: calc(18px + 2*((100vw - 320px)/(1170 - 320)));
    line-height: 1.2rem;
    text-transform: uppercase;
    margin-bottom: .5rem
}

.main_text>p {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 300
}

.main_text>p:not(:last-of-type) {
    margin-bottom: 2rem
}

.card_info {
    border: 10px solid #5e72e4;
    padding: 1.5rem;
    font-size: calc(15px + 4*((100vw - 320px)/(1170 - 320)));
    line-height: 2.1rem;
    font-style: italic;
    font-weight: bold!important;
    -webkit-transition: .5s color ease-in;
    transition: .5s color ease-in;
    color: var(--main-fonts);
}

.card_info li {
    font-size: calc(16px + 2*((100vw - 320px)/(1170 - 320)))
}

.video {
    position: relative;
    height: 100%;
    padding: 20px;
    max-height: 380px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}


.video::before {
    top: 0;
    left: 0;
    border-top: 2px solid #5e72e4;
    border-left: 2px solid #5e72e4;
    border-top-left-radius: 20px
}

.video>iframe {
    border-radius: 20px
}

.preview_title,
.title_section {
    text-align: center;
    font-weight: 600
}

.preview_title {
    display: block;
    line-height: 1.1rem;
    font-size: calc(14px + 0*((100vw - 320px)/(1170 - 320)));
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #5e72e4
}

.title_section {
    position: relative;
    font-size: 40px;
    color: var(--main-fonts);
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
    -webkit-transition: .5s color ease-in;
    transition: .5s color ease-in
}

.title_section::before {
    position: absolute;
    content: '';
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    max-width: 100px;
    height: 3px;
    background-color: #5e72e4
}

.title_description {
    display: block;
    font-weight: 300;
    font-size: calc(14px + 2*((100vw - 320px)/(1170 - 320)));
    line-height: 1.62rem;
    text-align: center;
    color: #9b9595;
    max-width: 625px;
    margin: 0 auto
}

.text_info {
    margin-top: 60px
}

.text_info:not(:last-of-type) {
    margin-bottom: 60px
}
.img_top {
    padding-top: 1.3rem;
    background-image: url(../img/svg/group1.svg), url(../img/svg/top_cir.svg);
    background-size: 200px 150px, 450px 450px;
    background-repeat: no-repeat;
    background-position: -90px 0, right 70px top -160px;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.woff2), url(../fonts/Roboto-Light.woff);
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-LightItalic.woff2), url(../fonts/Roboto-LightItalic.woff);
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.woff2), url(../fonts/Roboto-Regular.woff);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.woff2), url(../fonts/Roboto-Medium.woff);
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-BoldItalic.woff2), url(../fonts/Roboto-BoldItalic.woff);
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.woff2), url(../fonts/Roboto-Black.woff);
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Italic.eot);
    src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/Roboto-Italic.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Italic.woff) format('woff'), url(../fonts/Roboto-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.eot);
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Bold.woff) format('woff'), url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.eot);
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Regular.woff) format('woff'), url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.eot);
    src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/Roboto-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Medium.woff) format('woff'), url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.eot);
    src: local('Roboto Black'), local('Roboto-Black'), url(../fonts/Roboto-Black.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Black.woff) format('woff'), url(../fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.eot);
    src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/Roboto-Light.woff) format('woff'), url(../fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -webkit-transition: .5s background-color ease-out;
    transition: .5s background-color ease-out;
    background-color: var(--main-theme);
}
body{
    padding-top: 90px;
    position: relative;
}

body:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 126px;
    height: 900px;
    background: url(../img/svg/bg-wave-linear.svg) no-repeat top right;
    background-size: cover;
    z-index: 0;
}
.container,
header {
    position: relative
}

a,
a:hover {
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none
}

.dark .brightimg,
.darkimg {
    display: none
}

.dark .darkimg {
    display: block
}

.group1 {
    position: absolute;
    top: 62px;
    left: -74px
}

.group2 {
    top: 71%;
    left: 26%
}

.group2,
.group3,
.group4 {
    position: absolute
}

.group3 {
    right: -100px;
    top: 88%
}

.group4 {
    top: 21%;
    left: -10%
}

.group5 {
    right: -235px;
    top: 6%
}

.group5,
.group6,
.group7 {
    position: absolute
}

.group6 {
    left: -122px;
    top: 24%
}

.group7 {
    right: -116px;
    top: 44%
}

.vector1,
.vector2 {
    position: absolute;
    top: 10%;
    left: 47%
}

.vector2 {
    left: 5%;
    top: 53%
}

.vector3 {
    position: absolute;
    right: 2%;
    top: 65%
}

.vector4 {
    position: absolute;
    left: -8%;
    top: 21%
}

.vector5,
.vector6 {
    position: absolute;
    right: -6%;
    top: 27%
}

.vector6 {
    right: 6%;
    top: 45%
}

.vector7 {
    position: absolute;
    left: 6%;
    top: 4%
}

.vector8 {
    position: absolute;
    right: 6%;
    top: 16%
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-container .row {
    display: flex;
    flex-wrap: wrap;
}

.flex-container .row  {
    display: flex;
    flex-wrap: wrap;
}


.btn,
header .btn:hover,
.btn-secondary {
    background: #5e72e4;
    color: #fff
}

.btn {
    border-radius: 6px;
    padding: 0 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .2px;
    text-transform: uppercase;
    height: 60px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

.btn,
.description,
.heading,
.title {
    font-style: normal;
    font-weight: 700;
    text-align: center
}

.heading {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #5e72e4;
    margin: 0 auto 4px;
    display: block
}

.description,
.title {
    font-size: 40px;
    line-height: 52px;
    color: var(--main-fonts);
    margin: 0
}

hr.line {
    width: 100px;
    border: 0;
    border-bottom: 3px solid #5e72e4;
    margin: 15px auto;
    margin-bottom: 2rem;
}

hr.lineslider {
    border: 0;
    border-bottom: 2px solid rgba(94, 114, 228, .2);
    width: 85%;
    margin: 20px auto
}

.description {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #45484b;
    width: 630px;
    margin: 0 auto 40px
}

.prevArrow {
    -webkit-transition: .3s;
    transition: .3s;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(94, 114, 228, .7);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 15px;
    bottom: -40px;
    z-index: 1
}

.prevArrow svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin: 0 3px 0 0
}

.nextArrow,
.prevArrow,
header .flex-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.nextArrow {
    -webkit-transition: .3s;
    transition: .3s;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(94, 114, 228, .7);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    bottom: -40px
}

.nextArrow svg {
    margin: 0 0 0 2px;

}

.nextArrow:hover,
.prevArrow:hover {
    background: #5d71e4;
    cursor: pointer;
}
.nextArrow:hover svg path,
.prevArrow:hover svg path {
    fill: #fff;
}
.logo svg{
    filter: var(--img);
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 800;
    background: var(--main-theme);
    -webkit-box-shadow: var(--header-shadow);
    box-shadow: var(--header-shadow);
    padding: 12px 0;
    -webkit-transition: .5s background-color ease-in;
    transition: .5s background-color ease-in
}

header .flex-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

header .multilingualism,
header .time {
    padding: 0;
    margin: 0 -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header .time {
    display: none;
}

header .time li a {
    padding: 0 10px
}
 header .time li a.btn-dark svg path {
    fill: var(--light)
}

header .time li a.btn-bright svg path {
    fill: var(--dark)
}

header .multilingualism {
    margin: 0 -5px
}

footer .menu li a,
header .menu li a,
header .multilingualism li a {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase
}

header .multilingualism li a {
    color: #c0c8f6;
    padding: 0 5px
}

header .multilingualism li a.active {
    color: #5e70e2
}

footer,
header .btn,
header .menu,
.btn-secondary {
    -webkit-transition: .2s background-color ease-in;
    transition: .2s background-color ease-in
}

header .menu {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--main-theme);
}

footer .menu li,
header .menu li {
    list-style: none;
    margin: 0 15px
}

footer .menu li a,
header .menu li a {
    font-style: normal;
    color: #c0c8f7
}

.home_first_screen h1 span.color,
.cta-section h1 span.color,
header .menu li a:hover {
    color: #5e72e4
}

.cta-section .img-earn {
    max-width: 480px;
    width: 100%;
}

header .menu li a.active {
    color: var(--main-fonts)
}



.home_first_screen h1,
header .btn,
.btn-secondary {
    font-style: normal;
    text-transform: uppercase
}

header .btn,
.btn-secondary {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    width: auto;
    text-align: center;
    letter-spacing: .2px;
    color: #5e72e4;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 23px;
    background: #fff;
    border: 2px solid #c0c8f7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: var(--main-theme);
}

header .btn:hover,
.btn-secondary:hover {
    border: 1px solid #5e72e4;
}

.btn-secondary:hover {
    background: #5e72e4;
    color: #fff;
}


.home_first_screen {
    background: url(../img/bg_top.svg);
    background-size: cover
}

.bg-wave {
    position: relative;
    overflow: visible;
}

.bg-wave:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/svg/bg-wave.svg) no-repeat top right;
    background-size: contain;
    z-index: 0;
}

.home_directions .items .bg-block,
.home_directions .items .icon,
.home_first_screen .flex-container,
header .btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.home_first_screen {
    height: calc(100vh - 90px);
    display: flex;
}
.home_first_screen .img {
    width: 60%
}

.home_first_screen .img img {
    width: 80%;
    transform: translateX(10%);
    position: relative;
    z-index: 0;
}

.home_first_screen .text {
    width: 50%;
    margin-left: -10%;
    position: relative;
    z-index: 1;
}

.home_first_screen h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    color: var(--main-fonts);
    margin: 0 0 10px;
}
.cta-section {
    padding-top: 93px;
    background-image: url(../img/svg/group1.svg);
    background-size: 200px 150px;
    background-repeat: no-repeat;
    background-position: -90px 100px;
}
.cta-section h1{
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    color: var(--main-fonts);
    margin: 0 0 2rem;
    text-transform: uppercase;
}


.cta-section .vertical-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.home_first_screen h1 span.light,
.cta-section h1 span.light {
    font-weight: 300
}

.home_first_screen p,
.home_why .items p {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 70px;
    color: var(--main-fonts);
    margin: 0 0 45px
}

.home_directions {
    padding: 40px 0 30px
}

.home_directions .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px
}

.partner-program .heading,
.partner-program .title,
.partner-program .description {
    text-align: center!important;
}

.partner-program .line {
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 2rem;
}

.partner-program .btn-more-wrapper {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.home_directions .description {
    width: 100%;
}

.btn-more-center {
    padding: 1rem 0 2rem;
    justify-content: center;
}

.home_directions .items {
    width: 50%;
    padding: 0 15px;
    margin: 0 0 30px
}

.home_directions .items .bg-block,
.home_directions .items .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.home_directions .items .bg-block {
    padding: 20px 40px;
    background: var(--card-theme);
    -webkit-box-shadow: 0px 4px 25px rgba(94, 114, 228, 0.15);
    box-shadow: 0px 4px 25px rgba(94, 114, 228, 0.15);
    border-radius: 6px;
    height: 100%;
}

.home_directions .items .icon {
    background: url(../img/svg/bg_icon1.svg);
    background-repeat: no-repeat;
    width: 96px;
    height: 80px;
    margin: 0 41px 0 0;
    padding: 0 21px
}
.home_directions .items .bg-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home_directions .items .text,
.slider_investors .items .border .name {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #5e72e4;
}

.home_directions .items .text span {
    font-weight: 300;
    color: var(--main-fonts);
    font-size: 16px;
    display: block;
    text-transform: none;
    line-height: 1.4;
}

.home_directions .tile_item {
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(94, 114, 228, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    height: 100%;
}

.home_directions .tile_item .advantages_item_border,
.home_directions .tile_item .advantages_item_img {
    display: inline-block;
}

.home_directions .tile_left {
    padding-left: 0;
}

.home_directions .tile_right {
    padding-right: 0;
}

.home_directions .tile_title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
    line-height: 26px;
    color: #5E72E4;
}

.home_directions .tile_item .advantages_item_info {
    font-weight: 300;
}

.home_directions .tile_item .icon-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.home_directions .tile_item .icon-wrapper img{
    height: 18px;
    margin: 10px;
    opacity: .75;
}

.partner-program .advantages_item_img {
    width: 70px;
    height: 70px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.partner-program .text {
    margin-left: 15px;
}
.partner-program .advantages_item_border {
    margin-bottom: 0;
}

.home_investors {
    padding: 60px 0
}

.slider_investors {
    margin: 0 -15px
}

.slider_investors .items {
    padding: 11px 15px 30px;
    background-color: var(--main-theme);
}

.slider_investors .items .border {
    border: 2px solid #dfe4ff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 16px
}

.slider_investors .items .border .name {
    background: var(--main-theme);
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 25px;
    margin: -14px 0 0 35px
}

.slider_investors .items .border ul {
    padding: 0 0 0 85px;
    margin: 32px 0 35px;
    list-style-image: url(../img/li.svg)
}

.slider_investors .items .border ul li {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 35px;
    color: var(--main-fonts);
    padding: 0 0 0 15px
}

.slider_investors .items .border .bottom {
    background: var(--main-theme);
    padding: 0 25px;
    margin: -30px 36px 0;
    float: right
}

.home_why {
    padding: 0 0 100px
}

.bg_home,
.home_why_bg {
    background-repeat: no-repeat;
    position: relative
}

.home_why_bg {
    background: url(../img/home-why-vector.svg);
    background-position: bottom -80px left
}

.bg_home {
    background: url(../img/bg_home_vector.svg);
    background-position: center right
}

.home_why .items {
    padding: 0 15px;
    width: 25%
}

.home_why .items,
.home_why .items .icon,
footer .flex-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.home_why .items,
.home_why .items .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.home_why .items .icon {
    width: 110px;
    height: 110px;
    background:var(--card-theme);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, .09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .09);
    border-radius: 6px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 16px 0 0
}

.home_why .items p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px
}

.slider_why {
    margin: 0 -15px;
    z-index: 3;
}

.slider_why .items {
    padding: 0 15px 30px
}

.slider_why .border {
    padding: 25px;
    background: url(../img/rectangle.svg);
    background-size: cover;
    min-height: 249px
}

.slider_why .border iframe {
    height: 195px;
    border-radius: 16px
}

.home_offer .items a,
.popap h3,
.slider_why .name {
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    color: var(--main-fonts)
}

.popap h3,
.slider_why .name {
    font-size: 18px;
    text-align: center;
    margin: 32px 0 0
}

.home_offer {
    padding: 0 0 70px
}

.home_offer .flex-container {
    margin: 0 -15px
}

.home_offer .items {
    padding: 0 15px;
    width: 33.333333%;
    margin: 0 0 30px
}

.home_offer .items img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*.home_offer .items a {
    background: var(--card-theme);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, .09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .09);
    border-radius: 6px;
    height: 60px;
    display: inline-block;
    padding: 17px 20px;
    float: right;
    font-size: 16px;
    margin: -37px -15px 0;
    position: relative
}*/

footer {
    -webkit-box-shadow: 0 -20px 40px rgba(0, 0, 0, .05);
    box-shadow: 0 -20px 40px rgba(0, 0, 0, .05);
    padding: 15px 0 30px;
    background-color: var(--footer-bgc);
    z-index: 1;
    position: relative;
}

footer .flex-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

footer .menu {
    margin: 0;
    margin-right: -240px;
}

.link_ruless>a,
footer .menu li a:hover {
    color: #5e72e4
}

footer .contacts,
footer .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0
}

footer .contacts li {
    list-style: none
}

footer .contacts li a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -.1px;
    color: var(--main-fonts)
}

footer .contacts li a.mail,
footer .contacts li a.tel {
    padding: 0 0 0 25px;
    background-repeat: no-repeat;
    background-position: center left
}

footer .contacts li a.tel {
    background: url(../img/tel.svg);
    margin: 0 60px 0 0
}

footer .contacts li a.mail {
    background: url(../img/mail.svg)
}

footer .circle-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #EFF1FC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}

footer .circle-icon img {
    width: 24px;
    height: 24px;
    opacity: 0.8;
}

footer .circle-icon img.telegram {
    transform: translateX(-1px);
}
footer .circle-icon img:hover {
    opacity: 1;
}
footer .privacy-text {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 300;
}







#menu__toggle {
    opacity: 0
}

.home_offer .items .img {
    border-radius: 6px
}

.dark .inactive,
.inactive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.inactive {
    background: var(--wrap-main)
}

.inactive img {
    opacity: .2
}

.dark .inactive {
    background: #15182b
}

.popap {
    width: 400px;
    padding: 30px 40px
}

.popap h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
    margin: 0
}

.popap p,
.popap p.des {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #000
}
.popap p.des {
    text-align: center;
    margin: 0 0 40px
}

.popap p {
    margin: 0
}

.fancybox-skin {
    padding: 0 !important;
    position: relative;
    background: #fff !important;
    color: #444;
    text-shadow: none;
    border-radius: 0 !important
}

.fancybox-close {
    background: url(../img/close.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    top: 15px !important;
    right: 15px !important
}

.dark .fancybox-skin {
    background: #14172a !important
}

.dark .popap h3,
.dark .popap p {
    color: #fff
}

.hidden {
    display: none
}

.about_top_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px
}

.about_top_content_left,
.about_top_content_right {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(51.66666666666667% - 30px)
}

.about_top_content_right {
    width: calc(48.333333333333336% - 30px)
}

.about_top_content .title_content {
   margin-bottom: 1rem;
}

.about_top_content .investors_left img {
    width: 100%;
}

.advantages_cards,
.advantages_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.advantages_cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 40px;
    justify-content: center;
}

.advantages_item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(20% - 30px);
    min-width: 200px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(94, 114, 228, 0.15);
    border-radius: 10px;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
}

.advantages_item_img,
.dark .advantages_item_img {
   /* -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, .09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .09)*/
}

.advantages_item_border {
    padding: 10px;
    border: 2px solid rgba(94, 114, 228, 0.5);
    border-radius: 50%;
    margin-bottom: 1rem;
}

.advantages_item_img {
    padding: 20px;
    border-radius: 50%;
    background: linear-gradient(154.59deg, #5E72E4 7.72%, #6C3DF3 86.58%);
    box-shadow: 0px 10px 30px rgba(94, 114, 228, 0.8);

}

.advantages_item_img>img {
    width: 40px;
    height: 40px
}

.advantages_item_info {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-fonts);
    margin-bottom: 0.5rem;
}


.training_btn {
    margin-top: 40px
}

.training_link {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: .2px;
    text-transform: uppercase;
    color: #fff;
    padding: 25px;
    text-decoration: none;
    background-color: #5e72e4;
    border-radius: 6px
}

.training_left,
.training_right {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(29.166666666666668% - 30px)

}

.training_right {
    width: calc(70.83333333333334% - 30px)
}

.training_right>img {
    max-width: 293px;
    margin: 0 auto
}

.training_title {
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: #5e72e4;
    font-weight: 500
}

.moneybox_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.moneybox_left,
.moneybox_right {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(56.66666666666667% - 30px)
}

.moneybox_right {
    position: relative;
    border-radius: 100%;
    -webkit-box-shadow: 0 4px 100px rgba(0, 0, 0, .05);
    box-shadow: 0 4px 100px rgba(0, 0, 0, .05);
    min-height: 30vw;
    width: calc(40.833333333333336% - 30px)
}

.moneybox_right>img {
    position: absolute;
    right: -60px;
    bottom: 80px;
    width: 522px
}
.plans-section {
    margin: 2rem 0;
}
.plans-section .flex-container {
   justify-content: center;
}
.plans-section .items {
    padding: 0 15px;
    width: 50%;
    text-align: center;
    min-width: 290px;
    max-width: 350px;
}
.plans-section .border {
    background: #FFFFFF;
    box-shadow: 0px 15px 50px rgba(94, 114, 228, 0.15);
    border-radius: 10px;
    padding: 0 1.5rem 1.5rem;
}
.plans-section .border .name {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    color: #5E72E4;
    font-weight: 900;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border-bottom: 1px solid rgba(94, 114, 228, 0.15);
}
.plans-section .border ul {
    margin-bottom: 1.5rem;
}
.plans-section .border ul li {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid rgba(94, 114, 228, 0.15);
}

.plans-section .border ul li:first-child {
    color: #5E72E4;
    font-weight: 900;
}
.plans-section .border .btn {
    width: 100%;
    justify-content: center;
}
.plan-tabs-wrapper {
    margin: 0 15px;
    display: inline-flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid #5E72E4;
    overflow: hidden;
}
.tab-switcher {
    height: 46px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
    min-width: 100px;
    width: 150px;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ffffff;
    color: #5E72E4;
    position: relative;
}

.tab-switcher:hover {
    background-color: rgba(94, 114, 228, 0.1);
}

.tab-switcher:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #c0c8f7;
}

.tab-switcher:last-child:before {
    display: none;
}

.tab-switcher.active {
    background: #5E72E4;
    color: #fff;
    pointer-events: none;
}

.plan {
    display: none!important;
}

.plan.active{
    display: flex!important;
}

@media screen and (max-width:992px) {
    .plans-section .plan-tabs-wrapper {
        width: 100%;
        flex-direction: column;
    }
    .plans-section .plan-tabs-wrapper .tab-switcher {
        width: 100%;
    }
}

.learning-wrapper {
/*    padding: 0 0 70px*/
}

.learning-wrapper .flex-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 40px;
    justify-content: center;
}

.learning-wrapper .items {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(33.333333% - 30px);
    min-width: 320px;
    max-width: 360px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(94, 114, 228, 0.15);
    border-radius: 10px;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
}

.learning_item_info {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 300;
}
.learning_item_title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--main-fonts);
    margin-bottom: 1rem;
    display: block;
}
a.learning_item_title {
    text-align: left;
}
a.learning_item_title:hover {
    color: #5e72e4;
}

.learning_item_img {
    margin: -1.5rem -1.5rem 1.5rem -1.5rem;
    padding: 1rem 1rem 0 1rem;
    border-radius: 10px 10px 0 0;
    background: #e3eaff;
/*    filter: grayscale(50%);
    transition: all 0.2s ease;*/
}
.learning_item_img:hover {
/*    filter: grayscale(0);*/
}

/*.learning_item_img.first {
    background: #FDE7F4;
}
.learning_item_img.second {
    background: #e3eaff;
}
.learning_item_img.third {
    background: #cce2ff;
}*/

.learning_item_img img {
    width: 100%;
    height: auto;
    max-height: 180px;
}

.regulations_info {
    margin-top: 2rem
}

.regulations_info>p {
    margin-top: 1rem;
    line-height: 1.5
}

.regulations_title {
    font-size: calc(17px + 2*((100vw - 320px)/(1170 - 320)));
    font-weight: 500;
    color: #5e72e4
}

.regulations_title:not(:first-of-type) {
    margin-top: 2rem
}

.link_ruless {
    margin-top: 2rem;
    font-weight: 600;
    font-size: calc(16px + 2*((100vw - 320px)/(1170 - 320)));
    color: var(--main-fonts);
}

.main_list {
    font-size: calc(14px + 2*((100vw - 320px)/(1170 - 320)));
    line-height: 27px;
    letter-spacing: .2px;
    color: var(--main-fonts);
    font-weight: 300
}

.dark .link_ruless {
    color: #fff
}

.partner_left {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(58.333333333333336% - 30px)
}

.partner_left p:first-of-type {
    margin-bottom: 0
}

.partner_left p+ul {
    margin-bottom: 1.2rem
}

.partner_left ul {
    font-size: 16px;
    line-height: 1.7rem;
    font-weight: 300;
    margin-left: 15px;
    color: var(--main-fonts);
}

.partner_left li {
    position: relative;
    padding-left: 20px
}

.faq_title>svg,
.partner_left li:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.partner_left li:after {
    content: '';
    left: 0;
    top: 14px;
    width: 10px;
    height: 10px;
    background-color: #5e72e4
}

.partner_right {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(41.66666666666667% - 30px)
}

.partner_right>img {
    height: 100%;
    -o-object-position: bottom;
    object-position: bottom
}

.partner_tabel {
    overflow: auto
}

.partner .tabel_info {
    display: grid;
    grid-template-columns: repeat(8, minmax(-webkit-min-content, auto));
    grid-template-columns: repeat(8, minmax(min-content, auto));
}

.partner .tabel_header,
.partner .tabel_info_item {
    font-size: 16px;
    letter-spacing: .2px;
    text-align: center;
}

.partner .tabel_info_item {
    font-weight: 300;
    line-height: 50px;
    color: var(--main-fonts);
    border-bottom: 1px solid rgba(94, 114, 228, .2)
}

.partner .tabel_info_item {
    background: #edf0fd;
}

.partner .tabel_info_item:nth-child(16n),
.partner .tabel_info_item:nth-child(16n - 1),
.partner .tabel_info_item:nth-child(16n - 2),
.partner .tabel_info_item:nth-child(16n - 3),
.partner .tabel_info_item:nth-child(16n - 4),
.partner .tabel_info_item:nth-child(16n - 5),
.partner .tabel_info_item:nth-child(16n - 6),
.partner .tabel_info_item:nth-child(16n - 7) {
    background: #fff;
}

.partner .tabel_info_item>img {
    width: 16px;
    height: 16px;
    filter: var(--img);
}

.partner .tabel_header {
    background-color: #5e72e4;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    padding: 20px 10px;
}



.faq_title {
    display: block;
    margin-bottom: 10px;
    position: relative;
    font-weight: 600;
    font-size: calc(16px + 2*((100vw - 320px)/(1170 - 320)));
    line-height: 1.68rem;
    letter-spacing: .2px;
    color: var(--main-fonts);
    background: var(--faq-bgc);
    padding: 20px 70px 20px 31px;
    -webkit-transition: .5s background-color, .5s color;
    transition: .5s background-color, .5s color
}

.faq_title:hover {
    background: #5e72e4;
    color: #fff;
}

.faq_title::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 65px;
    height: 100%;
    background-color: var(--faq-header)
}

.faq_title>svg {
    transform: rotate(-90deg);
    fill: #5e72e4;
    right: 21px;
    top: 29px;
    -webkit-transition: .5s -webkit-transform;
    transition: .5s transform;
    transition: .5s transform, .5s -webkit-transform
}




.faq_content {
    padding: 30px
}

.faq_item {
    cursor: pointer;
    margin-bottom: 10px
}

.faq_item:not(:first-of-type) .faq_content {
    display: none
}

.faq_item_active .faq_title {
    background: #5e72e4;
    color: #fff
}

.faq_item_active .faq_title>svg {
    fill: #000;
    -webkit-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%)
}

.dark .faq_title {
    background-color: #1b203d;
    color: #fff
}

.dark .faq_title::before {
    background-color: #171c35
}

.dark .faq_item_active .faq_title {
    background-color: #5e72e4
}

.investors_left,
.investors_right {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(50% - 30px)
}

.investors_info {
    margin-top: 55px
}

.investors .slick-list {
    padding-top: 30px;
    padding-bottom: 30px
}

.investors .slick-slide {
    padding: 0 15px
}

.investors .logo-wrapper {
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.investors .logo-wrapper img {
    height: 20px;
    width: auto;
    margin-right: 1rem;

}

.card_servis {
    position: relative;
    border: 2px solid #dfe4ff;
    border-radius: 16px;
    padding: 40px 20px
}

.card_servis_title {
    top: -15px;
    font-weight: 900;
    font-size: calc(20px + 10*((100vw - 320px)/(1170 - 320)));
    line-height: 26px;
    text-transform: uppercase;
    color: #5e72e4;
    background-color: var(--main-theme);
    padding: 0 5px;
    min-width: 220px;
    text-align: center
}

.card_servis_list li {
    position: relative;
    font-weight: 300;
    font-size: 14px;
    line-height: 35px;
    color: var(--main-fonts);
    padding-left: 31px
}

.card_servis_list li::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url(../img/svg/cke.svg);
    background-repeat: no-repeat;
    filter: var(--img);
}

.card-wrapper::before,
.card_servis_link,
.card_servis_title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.card_servis_link {
    bottom: -35px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: .2px;
    text-transform: uppercase;
    color: #fff;
    padding: 23px 33px;
    background-color: #5e72e4;
    display: block;
    font-weight: 900;
    text-decoration: none
}

.card-wrapper {
    position: relative;
    padding-bottom: 40px;
    margin-top: 50px
}

.card-wrapper::before {
    content: '';
    bottom: 0;
    border-bottom: 1px solid #5e72e4;
    width: 88%;
    height: 1px;
    max-width: 1139px
}

.card-wrapper .nextArrow,
.card-wrapper .prevArrow {
    bottom: -18px
}

.d-inline-block {
    display: inline-block;
}

.btn-more-wrapper {
    text-align: center;
    margin-bottom: 3rem;
}
.text-no-wrap {
    white-space: nowrap;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}

@media screen and (max-width:1199px) {
    .section {
        margin-bottom: 5rem
    }

    .title_pages {
        text-align: left;
    }

    .video {
        min-height: 330px
    }

    .img_top {
        padding-top: 2.5rem;
        background-image: url(../img/svg/group1.svg);
        background-position: -100px -30px;
        background-size: 200px 168px;
    }

    .moneybox_left {
        width: calc(100% - 30px)
    }

    .moneybox_right {
        display: none
    }

    .partner_right>img {
        height: 39vw;
        min-height: 240px;
        margin: 0 auto;
        display: block
    }

    .investors_left,
    .investors_right,
    .partner_left,
    .partner_right {
        width: calc(100% - 30px)
    }

    .investors_left,
    .investors_right {
        margin-top: 30px
    }

    .card-wrapper::before {
        max-width: 500px
    }
}

@media screen and (max-width:1150px) {
    .moneybox_right {
        min-height: 15vw
    }
}

@media screen and (max-width:1000px) {

    .about_top_content_left,
    .about_top_content_right {
        width: calc(100% - 30px);
        margin: 15px;
    }

    .advantages_item {
        width: calc(33.333333333333336% - 30px)
    }
}

@media screen and (max-width:992px) {
    .container {
        padding-left: 15px;
        padding-right: 15px
    }
}

@media screen and (max-width:810px) {
    .advantages_cards {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .advantages_item {
        width: calc(50% - 30px);
        max-width: 300px
    }

    .training_left {
        width: calc(100% - 30px)
    }

    .training_right {
        display: none
    }

    .training_title {
        margin-bottom: 1rem;
        margin-top: 1rem
    }
}

@media screen and (max-width:700px) {
    .card_info {
        padding: 40px 30px
    }
    .title_pages{
        margin-bottom: 32px;
    }
    .partner_right , .partner_left{
        margin-bottom: 25px;
    }
}

@media screen and (max-width:650px) {
    .card-wrapper::before {
        max-width: 320px
    }
}

@media screen and (max-width:600px) {
    .card_servis {
        max-width: 350px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@media screen and (max-width:550px) {
    .section {
        margin-bottom: 2rem
    }

    .advantages_item {
        width: calc(100% - 30px)
    }
}

@media screen and (max-width:470px) {
    .card-wrapper::before {
        width: 50%
    }
}

@media screen and (max-width:1199px) {
    .for-investors .items {
        width: 100%;
        padding: 0 15px;
        margin: 0 0 30px;
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .tile_left {
        width: 50%!important;
        padding: 0 15px;
        margin: 0 0 30px;
    }

    .tile_right{
        width: 50%!important;
        padding: 0 15px;
        margin: 0 0 30px;
    }
}
@media (min-width:769px) {
    .partner-program .sub-title .heading,
    .partner-program .sub-title .title,
    .partner-program .sub-title .description {
        text-align: left !important;
    }

    .partner-program .btn-desktop {
        text-align: left;
    }
    .partner-program .btn-mobile {
        display: none;
    }

    .partner-program .sub-title .line {
        margin-left: 0 !important;
    }
}

@media (max-width:768px) {
    .partner-program .btn-desktop {
        display: none;
    }
    .partner-program .btn-mobile {
        display: block;
    }
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    border-radius: 12px;
    box-shadow: 0 19px 58px -23px rgba(94, 114, 228, 0.75), 0 0 0 1px rgba(94, 114, 228, 0.05);
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.in-dev {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-style: italic;
    font-size: 14px;
    color: #5E72E4;

    letter-spacing: 0.5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#myInput {
    position: absolute;
    left: -9999px;
    z-index: -10;
    opacity: 0;
}

/* plans buttons */
.form_radio_btn,
.form_radiocrypto_btn {
    display: inline-block;
    margin-right: 10px;
}
@media (max-width: 340px) {
    .form_radio_btn,
    .form_radiocrypto_btn {
        margin-right: 1px;
    }
}
.form_radio_btn input[type=radio],
.form_radiocrypto_btn input[type=radio] {
    display: none;
}
.form_radio_btn label,
.form_radiocrypto_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #5e72e4;
    color: #5e72e4;
    border-radius: 6px;
    user-select: none;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label,
.form_radiocrypto_btn input[type=radio]:checked + label {
    background: #5e72e4;
    color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

/* Hover */
.form_radio_btn label:hover,
.form_radiocrypto_btn label:hover {
    background: #5e72e4;
    color: #fff;

    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* modal */
.modal.modal-site {
    border: 0;
    /*box-shadow: none;*/
}

@media screen and (max-width:992px) {
    .modal.modal-site.in {
        top: 1% !important;
        right: 1% !important;
        left: 1% !important;
        bottom: auto !important;
    }
}

.modal-content {
    padding: 20px;
}

.modal-header {
    margin-bottom: 20px;
}
.modal-body p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 15px;
}
.modal-body .btn {
    border: none;
    height: 40px;
}
