:root {
    --color-black: #000;
    --color-white: #fff;
    --color-blue: #1448B6;
    --color-orange: #daa53d;
    --color-orange-dark: #d3a344;
    --hawkes-blue: #EBF1FE;
    --color-malachite: #09CC34;
    --color-midnight: #001032;
    --color-turquoise: #3EECC2;
    --color-gray: rgba(0, 0, 0, 0.29);
}